<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My recipes</title>
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>My recipes</h1>
  <a href="/recipes/new">Add a new recipe</a>

  <% if (recipes.length > 0) { %>
    <ul>
      <% recipes.forEach(recipe => { %>
        <li>
          <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
          <a href="/recipes/<%= recipe._id %>/edit">correction</a>
          <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
            <button type="submit">delete</button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>You haven't added any recipes yet.</p>
  <% } %>
</body>
</html>